<h1>Cardholder and bankcard assignment</h1>
<p>"This is not really giftcards but it`s really a gift"</p>
<table id="form_reports"  width="80%" align="center" style="background-color:silver" cellpadding="2" cellspacing="0" border="1">
<tr>
<td width="20%" style="padding-left: 10; background-color: silver;"><%= button_to 'Reports', reports_path, :method => 'get' %></td>
<td width="60%" style="padding-left: 10; background-color: silver;"> <%= button_to 'Cardholders', cardholders_path, :method => 'get' %></td>
<td> <%= button_to 'Cards', cards_path, :method => 'get' %></td>
</tr>
</table>
